{% extends 'layout.html' %}

{% block header %}
  <h1 class="text-center p-5">{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3 form-group text-center">
      <input class="form-control mx-auto w-auto" type="password" name="old" id="old" placeholder="Old Password" required>
      <br />
      <input class="form-control mx-auto w-auto" type="password" name="new" id="new" placeholder="New Password" required>
      <br />
      <input class="form-control mx-auto w-auto" type="password" name="confirmation" id="confirmation" placeholder="Confirm Password" required>
      <br />
      <button class="btn btn-custom-color" type="submit">Submit</button>
    </div>
  </form>
{% endblock %}
