{% extends 'account.html' %}

{% block header %}
  <h1 class="text-center p-5">{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <td><h5 class="p-3" style="margin-right: 50px;">Username:</h5></td>
      <td><h5 class="p-3">{{ profile['username'] }}</h5></td>
    </tr>
    <tr>
      <td><h5 class="p-3" style="margin-right: 50px;">Bio:</h5></td>
      <td>
        {% if profile['bio'] %}
          <h6 class="p-3">{{ profile['bio'] }}</h6>
        {% else %}
        <a href="{{ url_for('account.bio') }}"><button class="btn btn-custom-color" style="margin-left: 15px;">Add Bio</button></a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><h5 class="p-3" style="margin-right: 50px;">Followers:</h5></td>
      <td>
        {% if not profile['followers'] %}
          <h5 class="p-3" style="text-align: center;">0</h5>
        {% else %}
          <td><h5 class="p-3" style="text-align: center;">{{ profile['followers'] }}</h5></td>
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}
