.btn-custom-color {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode {
  background-color: #141516;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .list-group-item {
  background-color: #343a40;
  color: #ffffff;
  border-color: #565656;
}

.dark-mode .author-name {
  color: #aaaaaa;
}

.fixed-width-sidebar {
  width: 180px;
  box-sizing: border-box;
  border-right: 1px solid #3D4244;
}

.same-line {
  display: inline-block;
  margin-right: 20px; 
}

.crypto {
  padding-left: 50px;
}

th, td {
  padding: 15px;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

