{% extends 'layout.html' %}

{% block title %}Edit Post{% endblock %}

{% block editor %}
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
        <label for="title" class="form-label p-3">Blog Title</label>
        <input type="text" class="form-control" id="title" name="title" required style="background-color: #1a1a1a; color: #ffffff;" value="{{ post['title'] }}">
    </div>
    <div class="mb-3">
      <label for="body" class="form-label p-3">Blog Content</label>
      <div id="body" name="body" style="height: 500px;">{{ post['body'] | safe }}</div>
      <input type="hidden" name="hiddenBody" id="hiddenBody">
    </div>
    <button type="submit" class="btn btn-custom-color">Publish</button>
  </form>

  <script>
      var quill;

      document.addEventListener('DOMContentLoaded', function () {
          quill = new Quill('#body', {
              theme: 'snow'
          });
          quill.clipboard.dangerouslyPasteHTML("{{ post['body'] | safe }}");
      });

      var form = document.querySelector('form');
      form.onsubmit = function () {
          console.log('Quill Content:', quill.root.innerHTML);
          document.querySelector('#hiddenBody').value = quill.root.innerHTML;
          return true;
      };
  </script>
{% endblock %}

