<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Blogs</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    {% block editor %}{% endblock %}
  <head>

  <body class="dark-mode" style="height: 100vh;">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('blog.index') }}">
          <img src="{{ url_for('static', filename='pics/baseline_rss_feed_white_24dp.png') }}" width="30" height="30" />
          LibreBlogs
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if g.user %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span>Account</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{{ url_for('account.profile') }}">My Profile</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('blog.create') }}">Create</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                </ul>
              </li>
             {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">
                  Log In
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container-fluid">
        <div class="row">
          <nav class="fixed-width-sidebar d-none d-md-block sidebar" style="background-color: #212529; height: 100vh;">
            <div class="sidebar-sticky ">
              <ul class="nav flex-column h5">
                <li class="nav-item">
                  <a class="nav-link active text-light" href="{{url_for('account.profile') }}">
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">
                    My Blogs
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">
                    Monetization
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">
                    Settings
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="col-md-9 container p-2"> 
            {% for message in get_flashed_messages() %}
              <div class="alert alert-danger mb-0 text-center" role="alert">{{ message }}</div>
              <br />
            {% endfor %}
            {% block content %}{% endblock %}
      </div>
        </div>
      </div>
    </section>
  </body>
</html>
